.button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 8px;
  letter-spacing: 0.1em;
  color: white;
  transition: all 0.3s ease;
}
.button:first-child {
  background-color: green;
}
.button:nth-child(2) {
  background-color: rgb(222, 157, 35);
}
.button:nth-child(3) {
  background-color: red;
}

.button:first-child:hover,
.button:nth-child(2):hover,
.button:nth-child(3):hover {
  opacity: 0.7;
}
