.title {
  font-size: 50px;
  color: rgb(40, 40, 40);
  text-align: center;
  text-shadow: 4px 8px 2px rgb(180, 180, 180);
  margin-bottom: 10px;
}
.text {
  font-weight: 600;
  font-size: 24px;
  color: rgb(88, 86, 86);
}
